* {
    background-color: #47266e;
}

header, a {
    color: #f4b3c2;
    background-color: #942313;
}

nav {
    word-spacing: 15px;
}

h2 {
    color: #eee0b1;
    
}

.info {
    line-height: 5px;
    color: #deceab;
}

.info p {
    text-indent: 25px;
    color: #8a7189;
}

footer {
    line-height: 30px;
    color: #6b8ac8;
}